include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include lifi_custom *.css
recursive-include lifi_custom *.csv
recursive-include lifi_custom *.html
recursive-include lifi_custom *.ico
recursive-include lifi_custom *.js
recursive-include lifi_custom *.json
recursive-include lifi_custom *.md
recursive-include lifi_custom *.png
recursive-include lifi_custom *.py
recursive-include lifi_custom *.svg
recursive-include lifi_custom *.txt
recursive-exclude lifi_custom *.pyc